.diagnostics_drawer{
    .yearDiagnostics{

        .year{
            color: gray;
            margin-bottom:20px;
        }

        .diagnosticsBlock{

            background: #f0f0f0;
            margin-bottom:25px;
            padding:10px;
            border-radius: 10px;

            .border{
                font-weight:bold;
            }
        }
    }
}